@page "/login"
@layout HeadlessLayout
@inherits LoginPage

<PageTitle>Dima - Entrar</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
        <MudPaper Class="mud-width-full pa-8">
            <div class="d-flex justify-center pb-8 pt-8">
                <img
                    src="imgs/dima.png"
                    alt="Dima - Controle Financeiro"
                    width="200"/>
            </div>

            <EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync">
                <DataAnnotationsValidator/>

                <MudTextField
                    T="string"
                    Label="E-mail"
                    HelperText="Campo obrigatório"
                    InputType="InputType.Email"
                    For="@(() => InputModel.Email)"
                    @bind-Value="InputModel.Email"/>

                <MudTextField
                    T="string"
                    Label="Senha"
                    HelperText="Campo obrigatório"
                    InputType="InputType.Password"
                    For="@(() => InputModel.Password)"
                    @bind-Value="InputModel.Password"/>

                <div class="d-flex mt-8">
                    @if (IsBusy)
                    {
                        <MudProgressCircular Color="Color.Info" Indeterminate="true"/>
                    }
                    else
                    {
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">ENTRAR</MudButton>
                        <MudSpacer/>
                        <MudButton Href="/comecar">QUERO ME CADASTRAR</MudButton>
                    }
                </div>

            </EditForm>
        </MudPaper>
    </MudItem>
</MudGrid>